<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">My Articles Vault <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Saved Articles </a>
      </li>
      </ul>
  </div>
</nav>

	<section class="jumbotron text-center">
		<!-- Modal -->
		<!-- Button trigger modal -->
		<button id="modal" type="button" class="btn  btn-info" data-toggle="modal" data-target="#myModal">
		  How to Use
		</button>

		<!-- Modal -->
		<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
		 	 <div class="modal-dialog" role="document">
			    <div class="modal-content">
				    <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Test</h5>
				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				    </div>
			     	 <div class="modal-text modal-body">

				        <p>Test</p>
					</div>
				    <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				    </div>
				</div>
		  	</div>
		</div>

		
	</section>

	<!-- Card deck for the dynamically-generated vault -->
	<div class="album text-muted">
		<div class="container">
			<div class="row">

			</div>
		</div>
	</div>

	<!-- Footer -->
	<footer class="text-muted">
		<div>
			<p class="float-right">
				<a href="#">Back to top</a>
			</p>
					<p>View code on
				<a href="#"> GitHub</a>
			</p>
		</div>
	</footer>