<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">American Princess Bride</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
         <li class="nav-item">
        <a class="nav-link" href="/saved">Saved Articles </a>
      </li>
      </ul>
  </div>
</nav>

<section class="jumbotron text-center">
		<!-- Modal -->
		<!-- Button trigger modal -->
	<h1>American Princess Bride</h1>
    <button id="search-button" type="submit" class="btn btn-primary">Fetch New Articles</button>
</section>

	<!-- Card deck for the dynamically-generated vault -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            {{#each articles}}
                <div class="panel panel-primary">
                <div class="panel-heading row">
                    <div class="col-xs-9">
                        <h3 class="panel-title pull-left"><a href={{this.link}} target="_new">{{this.title}}</a></h3>
                        </div>
                        <div class=" save-article col-xs-3">
                            <button type="submit" class="btn btn-default float-right" data-id = {{this.id}}>Save Article</button>
                        </div>
                    </div>
                <div class="row">
                    <div class="col-xs-12>">
                    <div class="panel-body">
                        <p>{{this.summary}}</p>
                    </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>



</div>

<footer class="footer">
    <div class="container">
            <p><a href="/api/friends">API Friends List </a> | <a href="https://github.com/JuliaLid/Friend-Finder-App-Using-Node-and-Express-Servers" target="_blank" >GitHub Repo</a></p>
    </div>
</footer>

